@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  background-image: url("../assets/Ativo\ 3.png");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 0;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.card {
  background-color: #f7f7f7e3;
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #00000060;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}

.label-float input {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 1px solid #000000;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all 0.3s ease-out;
  border-radius: 0;
}

.label-float {
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus {
  border-bottom: 2px solid #2da837;
}

.label-float label {
  color: #000000;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all 0.3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label {
  font-size: 13px;
  margin-top: 0;
  color: #2da837;
}

button {
  background-color: transparent;
  border: 1px solid #000000;
  color: #000000;
  padding: 5px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-out;
}

button:hover {
  background-color: #9ac553;
}

.justify-center {
  display: flex;
  justify-content: center;
}

hr {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
}

p {
  color: #000000;
  font-size: 14pt;
  text-align: center;
}

a {
  color: #9ac553;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

a:hover {
  color: #2da837;
}

#msg-error {
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#close-alarm-btn {
  border: none;
  margin: 0;
  color: red;
  transition: all 0.3s ease-out;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}

#close-alarm-btn:hover {
  border: 1px solid black;
  background-color: #ff0000;
  color: white;
}
